body {
    height: 100vh;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

h1, h2, p {
    margin-top: 151px;
    font-size: 2rem;
    text-align: center;
    color: rgb(147, 133, 41);
}
